* {
	margin: 0px;
	padding: 0px;
}

.LYHNewsHeader {
	background: transparent;
	overflow: hidden;
	width: 240px;
	display: block;
	position: relative;
	/*居中方式*/
	display: block;
	margin: 10px auto;
}

.LYHNewsHeader a {
	display: block;
	float: left;
	text-align: center;
	width: 25%;
	background: white;
	color: #333333;
	font-size: 14px;
}

.active-a {
	/*下划线*/
	border-bottom: 2px solid #f65151;
	/*选中颜色*/
	color: #f65151 !important;
}


/*图片轮播*/

.LYHImageSycle {
	background: red;
	/*height: 50px;*/
}


/*修改Mui的原生大小（轮播图）*/

.mui-slider {
	height: 100px;
}


/*最下部分的Cell*/

.mui-table-view-cell {
	height: 100px;
}

.mui-media-body {
	height: 100;
}

.mui-media-object {
	max-width: 90px;
	width: 90px;
	height: 90px!important;
}


/*标签*/

.LYHMark {
	color: #f65151;
	font-size: 12px;
	border: 1px solid#f65151;
	border-radius: 3px;
	float: left;
	position: relative;
	top: 10px;
	/*height: 35px;*/
}

.LYHLabelTimeCountRead {
	float: right;
	font-size: 12px;
	color: #666666;
	position: relative;
	top: 20px;
	/*background: red;*/
	height: 44px;
}


/*我部分的css*/
.LYHMe-Cell-Header {
	background: white;
	width: 100%;
	height: 90px;
	float: left;
	padding: 5px;
}
.LYHMe-Cell-Header-imageIcon {
	width: 80px;
	height: 100%;
	background: red;
	float: left;
}

.LYHMe-Cell-Header-imageIcon img {
	width: 100%;
	height: 100%;
	border-radius: 40px;
}

.LYHMe-Cell-Header-rightContent {
	width: 70%;
	height: 100%;
	/*background: orange;*/
	float: left;
	margin-left: 5px;
}

.LYHMe-Cell-Header-rightContent-name {
	font-size: 17px;
	height: 20px;
	position: relative;
	top: 15px;
}

.LYHMe-Cell-Header-rightContent-hosptial {
	font-size: 14px;
	/*background: blue;*/
	height: 60px;
	/*div中的行内高度   *** 真尼玛的奇葩*/
	line-height: 80px;
}
/*下面的cell*/
.MeCellLeftIcon {
	float: left;
	height: 100%;
}

.MeCellLeftIcon img {
	width: 30px !important;
	height: 30px !important;
	position: relative;
	top: 6px;
}

.MeCellTItle {
	float: left;
	font-size: 14px;
	margin-top: 5px;
	position: relative;
	top: 6px;
	left: 5px;
}

.MeCellRightIcon {
	float: right;
	margin-top: 5px;
}

.MeCellRightIcon img {
	width: 20px !important;
	height: 20px !important;
	margin-top: 6px;
}
.MeCellOther {
	float: right;
	font-size: 14px;
	margin-top: 10px;
}
.MeSectionTwo {
	float: left;
	height: 44px;
	width: 100%;
	background: white;
	margin-top: 10px;
}

.MeSectionFour {
	margin-top: 0px !important;
	/*background: red !important;*/
}
.publishAddBottomLine {
	border-bottom: 1px solid #ededed;
}
.publishClassClear {
	clear: both;
}

/*tool的css部分*/
.toolClassCell {
	height: 44px;
	background: white;
}
.toolClassCell-LeftIcon {
	/*background: orange;*/
	float: left;
	margin-top: 10px;
	margin-left: 5px;
	margin-right: 5px;
}
.toolClassCell-Right {
	/*background: blue;*/
	float: left;
	margin: 5px;
	margin-top: 10px;
	width: 90%;
}
