*{
	margin: 0px;
	padding: 0px;
}
.LYHNewsHeader {
	background: transparent;
	overflow: hidden;
	width: 240px;
	display: block;
	position: relative;
	/*居中方式*/
	display: block;
	margin:10px auto;
}

.LYHNewsHeader a{
	display: block;
	float: left;
	text-align: center;
	width: 25%;
	background: white;
	color: #333333;
	font-size: 14px;
}
.active-a {
	/*下划线*/
	border-bottom: 2px solid #f65151;
	/*选中颜色*/
	color: #f65151 !important;
}

/*图片轮播*/
.LYHImageSycle {
	background: red;
	/*height: 50px;*/
}
/*修改Mui的原生大小（轮播图）*/
.mui-slider {
	height: 100px;
}


