*{
	margin: 0px;
	padding: 0px;
}
.LYHNewsHeader {
	background: orange;
	overflow: hidden;
	width: 240px;
	display: block;
	position: relative;
	/*居中方式*/
	display: block;
	margin:10px auto;
}

.LYHNewsHeader span{
	display: block;
	background: red;
	/*width: 60px;*/
	text-align: center;
}
.LYHNewsHeader_templ {
	float: left;
}
.bottom_Line {
	display: block;
    width: 60px;
    height: 2px;
    background: #0062CC!important;	
}

